.dragNDropContainer {
	display: flex;
	justify-content: space-between;
	width: 360px;
	height: 50vh;
	gap: 5px;
}

.seccion {
	width: 200px;
	display: flex;
	border-radius: 4px;
	justify-content: center;
	min-height: 100%;
}

.draggable {
	border: none;
	border-radius: 6px;
	background-color: transparent;
}

#TimeLine {
	display: flex;
	justify-content: center;
	width: 176px;
	border: 1px solid rgb(234, 234, 234);
	background-color: white;
}

#TimeLine>.droppable {
	width: 100%;
}

#TimeLine>.droppable::before {
	content: " Arrastrar aqui";
}

#TimeLine .tourCard {
	border: none;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, .3);
	z-index: 3;
}


#TimeLine .droppable .tourCard h6 {
	color: rgb(230, 70, 70);
}

#Items {
	display: flex;
	justify-content: center;
	width: 176px;
	border: 1px solid rgb(234, 234, 234);
	background-color: white;
}

#Items>.droppable {
	width: 100%;
	padding: 5px;

}

#Items .droppable .tourCard h6 {
	color: #025fca;

}

#Items .timeLineVertical {
	display: none;
}

.droppable {
	width: 90%;
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 5px;
	overflow-x: hidden;
	border-radius: 5px;
}

.tourCard {
	border: 1px solid rgb(236, 236, 236);
	box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, .2);
	border-radius: 5px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	height: 50px;
	max-height: 25vh;
	min-height: 60px;
	background-color: rgb(255, 255, 255);
	cursor: grab;
	overflow: hidden;
	padding: 5px;
}

.divImgTour {
	display: flex;
	width: 60px;
	height: 100%;
	border-radius: 3px;
}

.tourCard span {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin-right: 2px;
}

.tourCard span img {
	height: 100%;
	width: 15px;
}

.imagenCardTour {
	border-radius: 5px;
	width: 100%;
	height: 100%;
	background-size: cover;
}

.dataTour {
	margin-left: 5px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	overflow: scroll;
}

.dataTour>h6 {
	flex-wrap: wrap;
	word-break: normal;
	text-align: left;
}

.dataTour p {
	font-size: 10px;
}

@media screen and (min-width: 480px) {
	.dragNDropContainer {
		width: 338px;
		justify-content: center;
	}

	.seccion {
		width: 300px;
		min-width: 50%;
	}

	.divImgTour {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 60px;
		height: 48px;
	}

	.tourCard span {
		height: 100%;
		margin-right: 2px;
	}

	.tourCard span img {
		height: 100%;
		width: 15px;
	}
}

@media screen and (min-width: 768px) {
	.dragNDropContainer {
		width: 98%;
	}
}

@media screen and (min-width: 1024px) {
	.dragNDropContainer {
		width: 900px;
	}
}