.faq_container {
    color: #FFFF;
    padding: 1rem;
    font-size: 1rem;
    margin-top: 5rem;
    width: 100%;
}

#logo_feeluy {
    position: absolute;
    top: 4.5%;
    left: 3%;
    width: 90px;
    height: 70px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
}

@media screen and (min-width: 600px) {
    .section {
        display: flex;
        align-items: center;
        min-height: 100vh;
        width: 90%;
        margin: 0 auto;
        gap: 2rem;
        flex-direction: column;
    }
}

.faqTitle {
    font-size: 2rem;
    margin: 2rem 0 0 1rem;
}

.faq {
    max-width: 700px;
    margin-top: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #7a7a7a;
    cursor: pointer;
    margin-bottom: 1rem;
    width: 100%;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h3 {
    font-size: 1rem;

}

.question svg {
    width: 25px;
}

.answer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.answer h5 {
    margin: 2rem 0 0px;
    color: rgb(126, 126, 126);
}

.answer p {
    margin: 10px 0;
    padding-top: 0.5rem;
    line-height: 1.6;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    display: flex;
    width: 100%;
    align-items: flex-start;
}

.answer img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}



.answer p img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.faq.activeFaq .answer {
    max-height: 6500px;
    animation: fade 1s ease-in-out;
}

.faq.activeFaq svg {
    transform-origin: rotate(180deg);
}

svg {
    transition: transform 0.5s ease-in;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0px)
    }
}

.faq.as {
    margin-bottom: 5rem;
}

.activeFaq {
    color: rgb(82, 82, 82);
}