.favourites {
	margin-top: 120px;
	width: 100%;
}

.favouritesPageTitle {
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
}

.favoritosList {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2px;
}

.dataYdeleteContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.divDeleteFav {
	display: flex;
	justify-content: flex-end;
	width: 240px;
	position: relative;
	top: -35px;
	left: 136px;
}

.btnVerPunto {
	color: rgb(80, 80, 80);
	border: none;
	border-radius: 5px;
	background-color: transparent;
	padding: 1px 5px;
	margin-bottom: 3px;
}

.deleteFavourite {
	margin-right: 7px;
	display: flex;
	justify-content: center;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	margin: 1px 7px 3px 0;
}

.deleteFavourite>img {
	width: 13px;
}

@media screen and (min-width: 360px) {
	.divDeleteFav {
		width: 200px;
		left: 150px;
	}
}

@media screen and (min-width: 412px) {
	.divDeleteFav {
		width: 260px;
		left: 150px;
	}
}


@media screen and (min-width: 480px) {

	.favouritesPageTitle {
		display: flex;
		justify-content: center;
		margin-bottom: 2rem;
	}

	.favourites {
		width: 70%;
		min-height: 72vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 2rem;
	}


	.favoritosList {
		max-width: 1000px;
		display: flex;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 2rem;
	}

	.divDeleteFav {
		left: 0px;
	}

}

@media screen and (min-width: 540px) {
	.divDeleteFav {
		width: 248px;
	}
}

@media screen and (min-width: 768px) {
	.divDeleteFav {
		width: 248px;
	}
}

@media screen and (min-width: 820px) {
	.divDeleteFav {
		width: 248px;
	}
}