.forgetPassword {
	margin-top: 130px;
	width: 70%;
	font-family: sans-serif;
}

.btn-cerrar {
	font-family: sans-serif;
	color: rgb(82, 82, 82);
}

@media screen and (min-width: 480px) {
	.forgetPassword {
		width: 60%;
	}
}

@media screen and (min-width: 748px) {
	.forgetPassword {
		width: 50%;
	}
}

/* laptop/desktop - de 1024px en adelante */
@media screen and (min-width: 1024px) {
	.forgetPassword {
		width: 30%;
	}
}