.layout {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: rgb(81, 81, 81);
	min-width: 320px;
}

h1,h2, h3, h4, h5, h6  {
	color: rgb(81, 81, 81);
}

.footer {
	position: relative;
	bottom: 0;
	border-top: 2px solid #083d92;
  box-shadow: 0px -4px 10px -4px rgba(0, 0, 0, 6);
}

@media screen and (min-width: 480px) {
	 /* tablets */
	.layout {
		min-height: 100vh;
	}
}

@media screen and (min-width: 768px) { /* notebooks */
	/* .layout {
		min-height: 100vh;
	} */
}

@media screen and (min-width: 1024px) { /* large screens */
	/* .layout {
		min-height: 100vh;
	} */
}

@media screen and (min-width: 1200px) { /* extra large screens */
	/* .layout {
		min-height: 100vh;
	} */
}

