.navbar {
    background-color: #00499d;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 13vh;
    margin: 0;
    position: fixed;
    width: 100%;
}

.contentNavbar {
    display: flex;
    justify-content: space-between;
    width: 90vw;
}

.logoFellUy {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2px;
}

#feelLogoImg {
    width: 3rem;
}

.search {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.8rem;
}


.searchIntDiv {
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchlogo {
    width: 20px;
}

.search div span {
    position: relative;
    left: -30px
}

.userLogo {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#userlogoImg {
    width: 3rem;
    max-width: 3rem;
}

.inputSearch {
    width: 60vw;
    height: 2rem;
    margin: 0 auto;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding-left: 10px;
}

/* laptop/desktop - de 1024px en adelante */
@media screen and (min-width: 1024px) {

    #feelLogoImg {
        min-width: 5rem;
        max-width: 6rem;
        margin-top: -20px;
    }

}