@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.navbar {
    background-color: #00499d;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-height: 13vh;
    margin: 0;
    position: fixed;
    width: 100%;
    padding-top: 0.4rem;
    border-bottom: 1px solid #083d92;
    box-shadow: 0.1em 0.1em 1em rgba(0, 0, 0, 0.6);
    z-index: 1;
    min-width: 375px;
    min-height: 75.5px;
    
}


.contentNavbar {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin-top: 0.5rem;
    min-width: 338px;
}

.logoFellUy {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 3rem;
    min-width: 48px;
}

#feelLogoImg {
    width: 3rem;
    position: relative;
    top: -3px;
}

#arrowImg {
    width: 2rem;
}

.search {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

.searchIntDiv {
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.searchlogo {
    width: 20px;
}

.search div span {
    position: relative;
    left: -28px;
    top: 1px;
}

.userLogo__contain {
    display: none;
}

.userLogo__lenguage {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 2px;
    margin: 0 auto;
    padding: 0 auto;
    color: #FFF;
    border-radius: 10px;
    cursor: pointer;
}

.userLogo__lenguage img {
    width: 37px;
    height: 28px;
}

.userLogo__lenguage p {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
}

.menuLogo {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userLogo__faBars {
    width: 30px;
    height: 30px;
    color: #FFF;
    display: flex;
}

#userlogoImg {
    width: 3rem;
    max-width: 3rem;
}

#userLogoImg--login {
    display: none;
    width: 3rem;
    max-width: 3rem;
}

.inputSearch {
    width: 60vw;
    height: 1.8rem;
    margin: 0 auto;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: 0.3em 0.5em 1em rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    padding-left: 10px;
    min-width: 217px;
}

.divMsgWelcome {
    display: flex;
    align-content: center;
}

.msgWelcome {
    color: #ffcc05;
    font-size: 0.8rem;
    display: flex;
    min-height: 20px;
    font-family: 'Kodchasan';
}

.logout {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 3rem;
    color: aliceblue;
    font-size: 0.5rem;
    cursor: pointer;
}

#logoutImg {
    width: 1.3rem;
    max-width: 1.3rem;
}

@media screen and (min-width: 480px) {

    #feelLogoImg {
        position: relative;
        /* top: 10px; */
    }

    #userLogoImg--login {
        display: block;
    }

    .navbar {
        min-height: 10vh;
    }

    .search div span {
        position: relative;
        left: -28px;
        top: 1px;
        right: 20px;
    }

}

@media screen and (min-width: 480px) and (orientation : landscape){
    .navbar {       
        min-height: 95px;
    }
}

@media screen and (min-width: 800px) and (orientation : landscape){
    .navbar {       
        min-height: 95px;
    }
    .contentNavbar {
        max-width: 130vh;
      }
}

@media screen and (min-width: 1224px) and (orientation : landscape){
    .navbar {       
        min-height: 110px;
    }

    .contentNavbar {
        max-width: 130vh;
      }
} 

@media screen and (min-width: 800px) {

    .contentNavbar {
        max-width: 160vh;
    }

    .search div span {
        
        left: -35px;
      }

    .userLogo__faBars {
        display: none;
    }

    .ocultaLenguage {
        display: flex;
    }

    .userLogo__contain {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        padding-bottom: 2px;
    }

    .msgWelcome {
        font-size: 1rem;
    }

    /*  #feelLogoImg {
        position: relative;
        top: 10px;
    } */

    #arrowImg {
        position: relative;
        top: 2px;
        /* filter: drop-shadow(2px 8px 5px #000000e8); */
    }

    .inputSearch {
        height: 2.5rem;
    }

    .navbar {
        max-height: 16vh;
    }

    .divMsgWelcome {
        margin-top: 0.5rem;
    }
}

@media (min-width: 920px) {
    .userLogo__contain {
        gap: 3rem;
        padding-bottom: 2px;
    }
}

/* laptop/desktop - de 1024px en adelante */
@media screen and (min-width: 1024px) {

    .navbar {
        min-height: 8vh;
    }

    #feelLogoImg {
        min-width: 5rem;
        max-width: 6rem;
        max-height: 5rem;
        margin-top: -13px;
    }

}