.container {
	margin-top: 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}

.categories {
	height: 150px;
	width: 150px;
	display: flex;
	justify-content: center;
}

img {
	width: 120px;
}
