.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-top: 6.5rem;
}

.container:first-child {
	margin-top: 6.5rem;
}

.containerCategories {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
}

.categories {
	height: 130px;
	width: 130px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

.categories:hover {
	transform: scale(1.2);
}

.categories span {
	display: flex;
	justify-content: center;
	word-wrap: normal;
	margin-top: -20px;
	font-size: 0.8rem;
	width: 100%;
	text-align: center;
}

img {
	width: 120px;
}

.seeAllButtonDiv {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 0.5rem 0;

}

.seeAllButton {
	width: 75%;
	background-color: transparent;
	color: #444;
	box-shadow: .5rem .5rem 1rem #ccc,
		-.5rem -.5rem 1rem #fff;
	border: 2px solid #eee;
	border-radius: .5rem;
	transition: all 1s ease;
	cursor: pointer;
}

.seeAllButton:hover {
	box-shadow: .2rem .2rem 1rem #fff,
		-.2rem -.2rem 1rem #ccc;
}

.seeAllButton:active {
	box-shadow: inset .5rem .5rem 1rem #fff,
		inset -.5rem -.5rem 1rem #ccc;
}

.categories_title {
	margin-left: 30px;
}


@media screen and (min-width: 810px) {

	.container {
		display: flex;
		justify-content: center;
	}

	.containerCategories {
		margin-top: 6rem;
		padding: 1.5rem;
		/* min-width: 710px; */
	}

	.container:first-child {
		min-width: 710px;
		margin-right: 0;
	}


	.seeAllButtonDiv {
		display: none;
		width: 30%;
	}

	.categoriesImage {
		min-height: 100px;
	}

	.categories {
		height: 70px;
		width: 70px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		margin-bottom: 4rem;
	}

	.categories:hover {
		transform: scale(1.2);
	}

	.categories span {
		display: flex;
		justify-content: center;
		word-wrap: normal;
		margin-top: -20px;
		font-size: 0.8rem;
		width: 80px;
	}

	img {
		width: 60px;
	}

}

@media screen and (min-width: 1024px) {

	.container {
		display: flex;
		justify-content: center;
		flex-direction: row;
		padding-top: 4rem;
		flex-wrap: wrap;
	}

	.container:first-child {
		padding-right: 0;
	}

	.container:nth-child(2) {
		padding-left: 0;
	}

	.containerCategories {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		/* gap: 3rem; */
		padding-right: 1.5rem;
	}

	.categoriesImage {
		min-height: 100px;
	}

	.categories span {
		display: flex;
		justify-content: center;
		word-wrap: normal;
		margin-top: -10px;
		font-size: 0.8rem;
		width: 90px;
		text-align: center;
	}

	/* .seeAllButtonDiv {
		display: none;
		width: 30%;
	} */

	.contenedorSliders {
		max-width: 70%;
		display: flex;
		flex-direction: column;
	}


}