.principal-test {
	width: 100vw;
	height: 100vh;
	position: relative;
	z-index: -1;
	background-color: red;
}

.container {
	margin-top: 6.5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
	position: relative;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	overflow: hidden;
	z-index: 0;
}

/* 
.container:after {
content: '';
position: absolute;
left: 0;
right: 0;
height: 100%;
width: 100%;
background-color: black;
opacity: 0.5;
z-index: -1;
}
*/

.categories {
	height: 155px;
	width: 150px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

.categories:hover {
	transform: scale(1.2);
}

.categories span {
	margin-top: -30px;
}

img {
	width: 170px;
}

@media screen and (min-width: 800px) {
	.container {
		margin-top: 8rem;
	}
}

@media screen and (min-width: 1024px) {
	.container {
		margin-top: 180px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 10px;
	}
}