.qrCodePage {
	margin-top: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.qrCodePage img {
	margin-top: 100px;
	display: flex;
	width: 70%;
	max-width: 600px;
}