.register {
    margin-top: 130px;
    width: 70%;
    flex-direction: column;
    align-items: center;
    color: rgb(81, 81, 81);
    font-family: sans-serif;
}

.title {
    margin-bottom: 10px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.input {
    border: 1px solid gray;
    border-radius: 5px;
    height: 2.8em;
    font-size: 1rem;
}

.btn-register {
    background-color: #00499de9;
    color: aliceblue;
    font-weight: bold;
    border: 1px solid gray;
    border-radius: 5px;
    height: 30px;
    font-family: 'Kodchasan';
}

.linkALogin {
    margin-top: 10px;
    font-family: 'Kodchasan';
}

.linkALogin a,
a:visited {
    text-decoration: none;
    color: rgb(81, 81, 81);
}

.message {
    min-height: 2.2rem;
    color: red;
}

@media screen and (min-width: 480px) {
    .register {
        width: 30%;
    }
}

@media screen and (max-height: 666px) {
    .inputGroup {
        gap: 1rem;
    }
}


/* laptop/desktop - de 1024px en adelante */
@media screen and (min-width: 1024px) {
    .register {
        width: 30%;
    }
}