.register {
    margin-top: 130px;
    width: 70%;
    flex-direction: column;
    align-items: center;
    color: rgb(81, 81, 81);
    font-family: sans-serif;
}

.title {
    margin-bottom: 10px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.input {
    border: 1px solid gray;
    border-radius: 5px;
    height: 2.8em;
    font-size: 1rem;
}

.btn-register {
    background-color: #00499de9;
    color: aliceblue;
    font-weight: bold;
    border: 1px solid gray;
    border-radius: 5px;
    height: 30px;
    font-family: 'Kodchasan';
    cursor: pointer;
}

.linkALogin {
    margin-top: 10px;
    font-family: 'Kodchasan';
    cursor: pointer;
    margin-bottom: 20px;
}

.linkALogin a,
a:visited {
    text-decoration: none;
    color: rgb(81, 81, 81);
}

.message {
    min-height: 2.2rem;
    color: red;
}

/* LOADER */
.divLoader {
    display: flex;
    justify-content: center;
    width: 100%;
}

.loader, .loader:before, .loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation-fill-mode: both;
    animation: bblFadInOut 1.8s infinite ease-in-out;
    margin-bottom: 10px;
}

.loader {
    color: #1766f8;
    font-size: 7px;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@keyframes bblFadInOut {
    0%, 80%, 100% {
        box-shadow: 0 2.5em 0 -1.3em
    }

    40% {
        box-shadow: 0 2.5em 0 0
    }
}

/* FIN LOADER */

@media screen and (min-width: 480px) {
    .register {
        width: 60%;
    }
}

@media screen and (max-height: 666px) {
    .inputGroup {
        gap: 1rem;
    }
}

@media screen and (min-width: 748px) {
    .register {
        width: 50%;
    }
}


/* laptop/desktop - de 1024px en adelante */
@media screen and (min-width: 1024px) {
    .register {
        width: 30%;
    }
}