.images {
	background-color: transparent;
	background-size:cover;
	background-position: center center;
	width: 100%;
	height: 100%;
	pointer-events: none;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.item {
	min-width: 22rem;
	padding: 1rem;
}


.slider {
	display: flex;
	cursor: grab;
	height: 360px;
}

.sliderContainer {
	margin-top: 20px;
	width: 360px;
	height: auto;
	overflow-x: hidden;
	border-radius: 5px;
	/* border: 1px solid blue; */
	box-shadow: 1px 1px 30px 3px rgba(0, 0, 0, .1);
}

.componentSlider {
	margin: 2rem auto;

}


.titleSlider {
	margin-left: 0.3rem;
}

.descriptionSlider {
	margin-left: 1rem;
	font-size: 0.7rem;
}

@media screen and (min-width: 800px) {
	.sliderContainer {
		width: 700px;

	}
}

@media screen and (min-width: 1024px) {
	.sliderContainer {
		width: 120vh;
		height: auto;

	}
}