.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.swiper-wrapper {
  height: 110%;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
  height: fit-content;
}

.swiper-slide img {
  display: block;
  width: 100%;
  /* min-width: 338px;
  height: 138.3px;
  height: 100%; */
  object-fit: cover;
}

.swiper-button-next, .swiper-button-prev {
  top: 38%;
}