.dateInImage {
    padding: 5px;
    border-radius: 5px;
    position: relative;
    top: -185px;
    left: -10px;
    color: rgb(255, 255, 255);
    background-color: rgba(245, 245, 245, 0.116);
    text-shadow: 1px 1px .5px rgb(114, 114, 114);
    font-size: 1rem;
    max-width: 300px;
}

.description {
    padding-left: 10px;
    font-size: 0.7rem;
}

@media screen and (min-width: 360px) {
    .dateInImage {
        top: -185px;
        left: 0px;
    }
}

@media screen and (min-width: 540px) {
    .dateInImage {
        top: -155px;
        left: 0px;
    }
}

@media screen and (min-width: 768px) {
    .dateInImage {
        top: -195px;
        left: -10px;
    }
}

@media screen and (min-width: 820px) {
    .dateInImage {
        top: -190px;
        left: -10px;
    }
}

@media screen and (min-width: 900px) {
    .dateInImage {
        top: -145px;
        left: -5px;
    }
}

@media screen and (min-width: 1024px) {

    .dateInImage {
        top: -145px;
        left: -5px;
    }

    .description {
        padding-left: 10px;
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 1920px) {}