.descripcionTourStep1Text {
	font-size: 13px;
}

.tourStep1 {
	min-height: 422px;
}

.tourPreferences {
	padding: 10px 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	;
	gap: 0.8rem
}

.tourCards {
	border: 1px solid rgb(239, 8, 8);
	min-height: 4rem;
	border: 1px solid rgba(121, 120, 120, 0.287);
	border-radius: 5px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color: rgba(221, 221, 221, 0.03);
	display: flex;
	gap: 10px;
	font-size: 0.8rem;
}

.cardName {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 45%;
	padding-left: 8px;
	font-weight: bold;
}

.cardPreferences {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 55%;
}

.preferencesOptions {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-self: center;
}

.preferencesInput {
	width: 20%;
	display: flex;
	flex-direction: column;
	align-self: center;
	align-items: center;
	gap: 3px;
}

.inputsPreferencias {
	width: 9rem;
	border: 1px solid gray;
	border-radius: 4px;
	margin-top: 4px;
	background-color: aliceblue;
	border: 1px solid rgb(0, 128, 248);
	padding-left: 5px;
	color: rgb(44, 44, 44);
	min-height: 22px;
}

.inputsPreferencias:onfocus {
	border: 1px solid rgb(0, 128, 248);

}

@media screen and (min-width: 480px) {
	.descripcionTourStep4Text {
		margin-bottom: .8rem;
	}
}