.inputDivTourFinalStep {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
}

.tituloTourPreferences{
	background-color: #ffffffd6;
}

.descripcionTourFinalStepText{
	background-color: #ffffffd6;
}

.tourFinalStep {
	min-height: 422px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tourFinalStep input[type='text'] {
	width: 90%;
	height: 2rem;
	border: 1px solid rgb(0, 128, 248);
	border-radius: 8px;
	color: rgb(61, 61, 61);
	padding: 0 10px;
	background-color: aliceblue;
}

@media screen and (min-width: 480px) {
	.tourFinalStep {
		min-height: 500px;
	}
}

@media screen and (min-width: 768px) {
	.tourFinalStep {
		min-height: 500px;
	}
}

@media screen and (min-width: 1024px) {
	.tourFinalStep {
		min-height: 500px;
	}
}

@media screen and (max-height: 666px) {
	.tourFinalStep {
		min-height: 200px;
	}
}