.TourStep2 {
	min-height: 422px;
}

.tituloSecundarioTourstep2{
margin-bottom: 20px;
}

.presentacionPreferencias {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	font-size: 1.2rem;
	gap: 15px;
	border-top: 1px solid rgba(170, 170, 170, 0.131);
	border-radius: 5px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 30px 5px 20px;
	/* min-height: 400px; */
}

.preferenciasIndividuales {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.mensajeInferior {
	font-size: 14px;
	position: absolute;
	bottom: 100px
}

.alignLeft{
	width: 50%;
	display: flex;
	justify-content: flex-start;
}