.TourStep2 {
	min-height: 422px;
}

.tituloSecundarioTourstep2 {
	margin-bottom: 20px;
}

.descripcionTourStep2 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.presentacionPreferencias {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	font-size: 1.1rem;
	gap: 15px;
	border-top: 1px solid rgba(170, 170, 170, 0.131);
	border-radius: 5px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 30px 5px 20px;
	width: 355px;
	background-color: white;
}

.preferenciasIndividuales {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.mensajeInferior {
	font-size: 12px;
	margin-top: 1rem;
	/* width: 500px; */
}

.alignLeft {
	width: 50%;
	display: flex;
	justify-content: flex-start;
}

@media screen and (min-width: 480px) {
	.TourStep2 {
		min-height: 490px;
	}

	.presentacionPreferencias {
		padding: 30px 10px 20px;
	}
}

@media screen and (min-width: 768px) {
	.TourStep2 {
		width: 900px;
		min-height: 500px;
	}

	.descripcionTourStep2 {
		width: 100%;
	}

	.presentacionPreferencias {
		width: 70%;
		padding: 30px 20px 20px;
	}
}

@media screen and (min-width: 1024px) {
	.TourStep2 {
		width: 900px;
		min-height: 500px;
	}

	.descripcionTourStep2 {
		width: 100%;
	}

	.presentacionPreferencias {
		width: 70%;
	}
}