.tourCard{
	border: 1px solid rgb(236, 236, 236);
	box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, .2);
	border-radius: 5px;
	display: flex;
	justify-content: flex-start;
	width: 95%;
	height: 60px;
	max-height: 25vh;
	min-height: 60px;
	background-color: rgb(255, 255, 255);
	cursor: pointer;
}

.divImgTour {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 5rem;
	height: auto;;
}

.imagen {
	border-radius: 5px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
	width: 100%;
	background-size: cover;
}

.dataTour {
	margin-left: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
}

