.user-profile {
  width: 100%;
  margin-top: 6rem;
  margin-bottom: 1rem;
}

.divBtnUpdates {
  width: 98%;
  display: flex;
  justify-content: space-between;
  margin: 0.8rem 0;
}

.divBtnPreferencias>a {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0.8rem 0;
}

.updateBtn {
  display: flex;
  background-color: transparent;
  color: #444;
  box-shadow: .5rem .5rem 1rem #ccc,
    -.5rem -.5rem 1rem #fff;
  -moz-box-shadow: .5rem .5rem 1rem #ccc,
    -.5rem -.5rem 1rem #fff;
  border: 1px solid rgb(231, 231, 231);
  border-radius: .5rem;
  transition: all 1s ease;
  cursor: pointer;
  width: 5rem;
  font-size: 0.7rem;
  padding: 4px 10px;
}

.updateBtn:hover {
  background-color: rgba(196, 196, 196, 0.396);
}

.updateBtn a,
a:visited {
  font-size: 0.7rem;
  text-decoration: none;
  color: rgb(81, 81, 81);
  cursor: pointer;
}

.updateBtn p {
  font-size: 0.7rem;
}

.user-profile__container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
}

.user-profile__description {
  width: 90%;
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.userName {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}

.user-profile__button p {
  color: #fff;
  font-size: 20px;
}

.user-profile__button:hover p {
  color: #00499d;
}

.user-profile__button:hover {
  background-color: #FFF;
}

.user-profile__data {
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.user-profile__data a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid gray;
  background-color: #FFF;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}


.user-profile__data a:hover {
  background-color: rgb(255, 255, 255);
}

.user-profile__register {
  display: flex;
  gap: 4rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}

.user-profile__links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
  text-align: left;
}

.misPreferencias {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.6rem;
}

.lista {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.label {
  color: #00499d;
  font-size: 0.8rem;
  font-weight: 500;
}

.dataLabel {
  color: #e4b705;
  font-size: 0.8rem;
}

.divBtnLenguaje {
  display: flex;
  flex-direction: row;
  padding-left: 3px;
  border-bottom: 1px solid gray;
  padding-bottom: 1.5rem;
}

.user-profile__container-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid gray;
  cursor: pointer;
  padding: 1px 2px;
}


.divBtnLenguaje img {
  width: 40px;
  height: 25px;
  cursor: pointer;
  padding-right: 5px;
}

.user-profile__container-item--preferences img {
  width: 35px;
  height: 35px;
  margin-right: 5px;
  margin-top: 5px;
}

.user-profile__item {
  border: none;
  width: 100%;
  background-color: transparent;
  text-align: left;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  color: unset;
}

.user-profile__item a {
  text-decoration: none;
  outline: none;
  color: unset;
}


.user-profile__item {
  width: 100%;
}



.divBtnLogout {
  display: flex;
  width: 100%;
  justify-content: center;
}

.user-profile__logout {
  display: flex;
  background-color: transparent;
  color: #444;
  box-shadow: .5rem .5rem 1rem #ccc, -.5rem -.5rem 1rem #fff;
  -moz-box-shadow: .5rem .5rem 1rem #ccc, -.5rem -.5rem 1rem #fff;
  border: 1px solid rgb(231, 231, 231);
  border-radius: .5rem;
  transition: all 1s ease;
  cursor: pointer;
  padding: 5px 5rem;
}

.user-profile__logout:hover {
  cursor: pointer;
  background-color: rgba(249, 246, 246, 0.1);
}

@media screen and (min-width: 480px) {
  .user-profile {
    width: 60%;
    /* height: 85vh; */
    height: 100%;
    margin-top: 8rem;
  }
}

@media screen and (min-width: 1024px) {
  .updateBtn {
    width: 7.3rem;
    /* padding: 0.5rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
  }
}