.userBar {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	transition: all .3s ease;
	margin-top: 3rem;
	z-index: 5;
	position: fixed;
	top: 0;
	right: 0;
}

.userBar__link {
	display: flex;
	text-align: center;
	flex-direction: column;
	gap: 1.5rem;
	align-items: center;
	background-color: #00499d;
	width: 100vw;
	height: 100vh;
	padding-top: 6rem;
	/* min-height: 480px; */
}

.userBar__containerCancel {
	width: 100%;
	height: 1rem;
	margin-top: 1rem;
	/* padding-top: 3rem; */
}

.userBar__cancel {
	position: absolute;
	/* top: -10%; */
	right: 0;
	width: 6%;
	height: 4%;
	margin-top: 13%;
	margin-right: 5%;
	color: white;
	cursor: pointer;
}

.userBar__notifications {
	display: flex;
	justify-content: space-around;
}

.notificationlink {
	display: flex;
	width: 2rem;
}

.notificationIcon {
	margin-right: 5px;
}

.masEspacio {
	margin-right: 8px;
}

.userBar__link li .changeLenguageLabel {
	width: 100%;
	margin-left: 24px;
	display: flex;
	min-width: 205px;
}

.unreadNotification {
	display: flex;
	padding-bottom: 3.9px;
	margin-left: 125px;
	color: rgba(74, 252, 89, 0.726);
	text-shadow: 1px 1px 10px rgba(74, 248, 5, 0.705);
	font-size: 14px;
}

@media (min-width: 580px) {
	.userBar__cancel {
		margin-top: 9%;
	}
}

@media (min-width: 800px) {
	.userBar__link {
		width: 42vw;
	}

	.userBar__cancel {
		margin-top: 20%;
	}
}

@media (min-width: 1150px) {
	.userBar__cancel {
		margin-top: 16%;
	}
}

@media (min-width: 1600px) {
	.userBar__cancel {
		margin-top: 10%;
	}
}

.userBar__link li {
	display: flex;
	justify-content: flex-start;
	gap: 24%;
	width: 100%;
	text-align: center;
	padding: 10px;
	border-bottom: 1px solid gray;
	align-items: flex-end;
}

.userBar__link li a {
	color: #edf0f1;
	padding: 0px 25px;
	font-weight: 500;
	font-size: 16px;
	transition: all 0.3s ease 0s;
	border-radius: 50px;
	text-decoration: none;
	margin-bottom: 5px;
}

.userBar__link li p {
	color: #edf0f1;
	padding: 0px -25px;
	font-weight: 500;
	font-size: 16px;
	transition: all 0.3s ease 0s;
	border-radius: 50px;
	text-decoration: none;
	cursor: pointer;
	margin-bottom: 5px;
}

.userBar__lenguage img {
	width: 40px;
	height: 25px;
	cursor: pointer;
	margin-right: 3rem;
	border-radius: 2px;
}

.userBar__lenguage {
	display: flex;
	justify-content: space-between;
	color: #edf0f1;
	padding: 0px 25px 0 0;
	font-weight: 500;
	font-size: 16px;
	transition: all 0.3s ease 0s;
	text-decoration: none;
}

.marginLeft {
	margin-left: 21px;
}

.userBar__register {
	display: block;
}

@media (min-width: 800px) {
	.userBar__link .userBar__lenguage {
		display: none;
	}
}