.userProfile {
    margin-top: 95px;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.formPreferencias {
    display: flex;
    flex-direction: column;
}

.titlePreferencias {
    margin-top: 0.4rem;
    font-size: 1rem;
}

.inputGroupPreferencias {
    display: flex;
    width: 100%;
    word-wrap: break-word;
    justify-content: space-between;
    gap: 0.3rem;
}

.inputPreferencias {
    max-width: 7rem;
    border: 1px solid gray;
    border-radius: 5px;
    height: 1.8em;
    font-size: 9px;

}

.inputGroupPreferencias input {
    padding: 2px 0 0 10px;
    min-width: 10rem;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    color: rgb(45, 45, 45);
    min-height: 19px;
}

.fecha {
    align-items: flex-end;
    margin-top: 5px;
}

label {
    font-weight: 600;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
}

.selectIndividual {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.selectProfile {
    max-height: 2rem;
    background-color: white;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.btn-enviar {
    margin-top: 0.7rem;
    background-color: #00499de9;
    color: aliceblue;
    font-weight: bold;
    border: 1px solid gray;
    border-radius: 5px;
    height: 30px;
    font-family: sans-serif;
}

.linkALoginPreferencias {
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    cursor: pointer;
    min-height: 45px;
}

.linkALoginPreferencias a,
a:visited {
    text-decoration: none;
}

.categoryImage {
    display: flex;
    width: 1.5rem;
    padding-top: 6px;
    margin-right: 5px;
}

.submiMessage {
    color: rgb(7, 191, 130);
    font-size: 1rem;
}

.nationalitiesSelect {
    max-width: 10rem;
    border: 1px solid rgb(170, 170, 170);
    color: rgb(68, 68, 68);
    border-radius: 3px;
}

.css-b62m3t-container {
    min-width: 12rem;
}

@media screen and (min-width: 480px) {
    .userProfile {
        text-align: center;
        margin-top: 12rem;
        /* margin-bottom: 8rem; */
        width: 50%;
        /* justify-content: center; */
        flex-direction: column;
        align-items: center;
        /* padding-bottom: 20px; */
        /* height: 82vh; */
    }


    .nacionalidadYfchanacimiento {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .nacionalidad {
        align-items: flex-end;
    }

    .fecha {
        align-items: flex-end;
    }

    .titlePreferencias {
        font-size: 1.4rem;
    }

    .inputPreferencias {
        max-width: 20rem;
        height: 1.8rem;
        font-size: 1rem;
        padding: 2px 0 0 10px;
        min-height: 32px;
    }

    .selectIndividual {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    form {
        gap: 1rem;
    }

    label {
        font-weight: 600;
        font-size: 1.3rem;
    }

    .selectProfile {
        font-size: 1.5rem;
        color: rgb(89, 89, 89);
        min-width: 17rem;
    }
}