body {
    font-family: 'Dosis', sans-serif;
}

.login-design {
    display: grid;
}

@media (min-width: 768px) {
    .login-design {
        display: grid;
        height: 100vh;
        grid-template-columns: repeat(2, 50%);
    }
}

#app {
    visibility: hidden;
}

@media (min-width: 768px) {
    #app {
        height: 27rem;
        visibility: visible;
    }
}

.login {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.waves {
    display: none;
}

@media (min-width: 768px) {
    .waves {
        background-image: url('assets/wave.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.login-data {
    text-align: center;
    width: 60%;
}

.feeluy {
    width: 12rem;
}

.login-data h1 {
    font-weight: 200;
    color: #4b4a4a;
}

.input-group {
    position: relative;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

.input-fill input {
    border: none;
    border-bottom: 3px solid #848f9a;
    width: 100%;
    height: 3rem;
    font-size: 1.0625rem;
    /* line-height: 147.6%; */
    padding-top: 1rem;
    padding-bottom: 0rem;
    padding-left: 1.7rem;
    border-radius: 8px;
}

.input-label {
    top: 0;
    margin-bottom: 2rem;
}

.input-fill input:focus {
    outline: none;
    border-color: #197ee3;
}

.input-fill input:hover {
    background-color: #E9ECEF;
}

.input-fill input:focus+.input-label {
    color: #197ee3;
}

.input-fill input:focus~.icon {
    color: #197ee3;
}

.input-fill .input-label {
    position: absolute;
    top: 0;
    left: 28px;
    /* line-height: 147.6%; */
    color: #848f9a;
    transition: top .2s;
    font-weight: 700;
}

.icon {
    position: absolute;
    top: 30px;
    left: 3px;
    color: #848f9a;
    font-size: 1.5rem;
}

.register {
    display: block;
    width: 85%;
    text-align: right;
    text-decoration: none;
    color: #848f9a;
    margin-bottom: 1.3rem;
    font-weight: 800;
    transform: .3s ease-in-out all;
    font-size: 18px;
}

.login-form a:hover {
    color: #197ee3;
}

.btn-login {
    border-radius: 3rem;
    width: 45%;
    border: 1px solid #197ee3;
    line-height: 1.6rem;
    font-size: 1.3rem;
    background-color: #197ee3;
    color: #FFF;
    padding: 0.5rem 0;
    transition: .3s ease-in-out all;
    font-weight: 500;
    margin-bottom: 10px;
}

.btn-login:hover {
    cursor: pointer;
    background-color: #FFF;
    color: #197ee3;
}

.error {
    display: block;
    width: 15rem;
    height: 3rem;
    background-color: #197ee3;
    border: 1px solid #197ee3;
    border-radius: 5px;
    left: 0;
    margin: 1rem auto;
}

.error p {
    text-align: center;
    text-transform: uppercase;
    font-size: .9rem;
    color: #FFF;
}

a {
    color: #197ee3;
}

a :visited {
    color: #197ee3;
}